u
{
  color:#ffff00;
}
p 
{
  color:#7fff00;
}
h2
{
  background:linear-gradient(to right ,#ffc300,#7fff00,#ffc300);
}
ol
{
  color:aquamarine;
}
h1
{
  color:#ffc300;
  text-align:center;
}